/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* In Development */

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

* {
  font-family: "Zalando Sans SemiExpanded";
  color: white;
}

h1 {
  font-size: clamp(2rem, 3vw, 2.4rem);
  color: rgb(218, 226, 255);
}

h2 {
  font-size: 1.3rem;
  text-align: center;
}

/******************************************
/* BASE STYLES
/*******************************************/

body,
html {
  overscroll-behavior: none;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  background-image: url(/images/pokemon-background.jpg);
  background-attachment: fixed;
  background-size: auto 100vh;
  background-position: center;
  padding-bottom: 158px;
  position: relative;
}

body::after {
  content: " ";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.454);
  background-size: auto 100vh;
  z-index: -1;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-right: 25px;
  padding-left: 25px;
  gap: 40px;
  height: 100%;
  z-index: 1;
}

#root {
}

header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}

header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  text-align: center;
}

header p {
  width: 80%;
  font-size: 0.9rem;
}

header button {
  background-color: #07203e;
  align-self: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: ease 0.7s;
}

header button:hover {
  background-color: #07203e95;
  transition: ease 0.7s;
  cursor: pointer;
}

.gameboard {
  width: 100%;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 430px) {
  .gameboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .gameboard {
    grid-template-columns: repeat(3, 1fr);
  }

  header {
    flex-direction: row;
  }
}

@media (min-width: 1000px) {
  .gameboard {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .gameboard {
    grid-template-columns: repeat(6, 1fr);
  }
}

.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background: rgba(255, 218, 153, 0.2);
  border-radius: 15px;
  box-shadow: 0px 0px 28px -12px rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.pokemon-card img {
  max-width: 70%;
}

footer {
  padding: 0 25px;
  position: fixed;
  bottom: 0;
}

footer > div {
  display: flex;
  gap: 20px;
  background: rgba(165, 166, 255, 0.2);
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px;
}

footer div > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

footer > div > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

footer > div > div:nth-child(2) h2,
footer > div > div:nth-child(2) span {
  color: rgb(218, 226, 255);
}

footer span {
  font-size: 1.4rem;
  font-weight: 650;
}

.game-over-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.604);
  background-size: auto 100vh;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 2;
  color: black !important;
}

.game-over-screen-wrapper h2,
.game-over-screen-wrapper h3,
.game-over-screen-wrapper span {
  color: black;
}

.game-over-screen-wrapper h2 {
  font-size: 2.3rem;
}

.game-over-screen-wrapper h3 {
  font-size: 1.3rem;
}

.game-over-screen-wrapper > div {
  background-color: white;
  border-radius: 16px;
  padding: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 0px 28px -12px rgba(255, 255, 255, 0.871);
}

.game-over-screen-wrapper > div > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.game-over-screen-wrapper > div > div:nth-child(2) {
  display: flex;

  gap: 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.game-over-screen-wrapper > div > div:nth-child(2) > div {
  font-size: 1.6rem;
}

.game-over-screen-wrapper > div > div:nth-child(2) > div span {
  font-size: 1.6rem;
}

.game-over-screen-wrapper > div > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.game-over-screen-wrapper > div > div:nth-child(2) > div:nth-child(2) span {
  color: rgb(59, 162, 59);
}

.game-over-screen-wrapper > div > span {
  text-align: center;
  display: block;
  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset;
  border-radius: 16px;
  background-color: rgba(202, 202, 202, 0.655);
}

.game-over-screen-wrapper button,
.how-to-play-screen-wrapper button {
  text-align: center;

  padding: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5) inset;
  border-radius: 16px;
  background-color: #07203e;
  transition: ease 0.7s;
  border: none;
}

.game-over-screen-wrapper button:hover,
.how-to-play-screen-wrapper button:hover {
  background-color: #07203e95;
  transition: ease 0.7s;
  cursor: pointer;
}

.how-to-play-screen-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.604);
  background-size: auto 100vh;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100dvh;
  z-index: 2;
  color: black !important;
}

.how-to-play-screen-wrapper > div {
  background-color: white;
  border-radius: 16px;
  padding: 65px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-shadow: 0px 0px 28px -12px rgba(255, 255, 255, 0.871);
  border: 1.5px solid rgba(49, 49, 49, 0.88);
}

.how-to-play-screen-wrapper h2,
.how-to-play-screen-wrapper li {
  color: black;
}
.how-to-play-screen-wrapper h2 {
  font-size: 2.3rem;
}

.how-to-play-screen-wrapper ol {
  padding-left: 35px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
