.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  background: rgba(255, 218, 153, 0.2);
  border-radius: 15px;
  box-shadow: 0px 0px 28px -12px rgba(255, 255, 255, 0.75);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
}

.pokemon-card img {
  max-width: 70%;
}
