/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/* In Development */

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

/******************************************
/* TYPOGRAPHY
/*******************************************/

* {
  font-family: "Zalando Sans SemiExpanded";
  color: white;
}

h1 {
  font-size: clamp(2rem, 3vw, 2.4rem);
  color: rgb(218, 226, 255);
}

h2 {
  font-size: 1.2rem;
}

/******************************************
/* BASE STYLES
/*******************************************/

/******************************************
/* LAYOUT
/*******************************************/
body {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/pokemon-background.jpg);
  background-size: cover;
}

#root {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.454);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
}

header {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 15px;
}

header > div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 15px;
  text-align: center;
}

header p {
  width: 80%;
  font-size: 0.9rem;
}

header button {
  background-color: #07203e;
  align-self: center;
  padding: 15px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: ease 0.7s;
}

header button:hover {
  background-color: #07203e95;
  transition: ease 0.7s;
  cursor: pointer;
}

footer {
  display: flex;
  justify-content: center;
  gap: 20px;
  background: rgba(165, 166, 255, 0.2);
  border-radius: 15px 15px 0px 0px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-left: 1px solid rgba(255, 255, 255, 0.3);
  padding: 25px;
  position: fixed;
  bottom: 0;
}

footer > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

footer > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

footer > div:nth-child(2) h2,
footer > div:nth-child(2) span {
  color: rgb(218, 226, 255);
}

footer span {
  font-size: 1.4rem;
  font-weight: 650;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
